name: Main Flow

on:
  push:
    branches: [main]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

permissions: {}

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Install pnpm
        uses: pnpm/action-setup@v3
      - name: Install node
        uses: actions/setup-node@v4
        with:
          cache: pnpm
          node-version: 24.13.0
      - name: Install dependencies
        shell: bash
        run: pnpm install
      - name: Type check
        run: tsc --noEmit
      - run: pnpm build
      - name: Upgrade npm for OIDC support
        run: npm install -g npm@latest
      - name: Create Release Pull Request or Publish
        id: changesets
        uses: changesets/action@v1
        with:
          version: pnpm run version
          publish: pnpm exec changeset publish
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
